.navbar {
	display: flex;
	justify-content: center;
	align-items: center;
	position: fixed;
	top: 0;
	right: 0;
	padding: 20px 20px;
	width: 100%;
	background-color: #23b574;
	z-index: 9999;
}
.navbar .center .item {
	position: relative;
	display: inline-block;
	margin: 0 10px;
}
.navbar .center .item {
	text-decoration: none;
	color: black;
}
.navbar .center .item:after {
	background: none repeat scroll 0 0 transparent;
	bottom: -5px;
	content: '';
	display: block;
	height: 2px;
	left: 50%;
	position: absolute;
	background: #fff;
	transition: width 0.3s ease 0s, left 0.3s ease 0s;
	width: 0;
}
.navbar .center .item:hover:after {
	width: calc(100% + 20px);
	left: -10px;
}
